In [1]:
import pandas as pd
import numpy as np

circuits = pd.read_csv("https://github.com/danilofreire/qtm151/raw/refs/heads/main/lectures/lecture-13/data_raw/circuits.csv")

# Or open it from the local file
# circuits = pd.read_csv("data_raw/circuits.csv")

display(circuits.head(2))

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.968,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.738,18,http://en.wikipedia.org/wiki/Sepang_Internatio...

print(np.mean(vec_with_nans)), this will return NaN if there are NaN values. 
Mean without NaN values: print(np.nanmean(vec_with_nans))

If used pandas instead of np, pandas ignore them. 
dataset = pd.DataFrame()
dataset["x"] = vec_with_nans
dataset
print(dataset["x"].mean())

circuits["alt"].str.isnumeric() , check if the string is numeric.

In [5]:
## Replace UK with United Kingdom
circuits["country"] = circuits["country"].replace("UK", "United Kingdom")

# Check the rows where the replacement was made
uk = circuits.query("country == 'United Kingdom'")
display(uk.head(5))

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
8,9,silverstone,Silverstone Circuit,Silverstone,United Kingdom,52.0786,-1.016940,153,http://en.wikipedia.org/wiki/Silverstone_Circuit
30,31,donington,Donington Park,Castle Donington,United Kingdom,52.8306,-1.375280,88,http://en.wikipedia.org/wiki/Donington_Park
37,38,brands_hatch,Brands Hatch,Kent,United Kingdom,51.3569,0.263056,145,http://en.wikipedia.org/wiki/Brands_Hatch
57,58,aintree,Aintree,Liverpool,United Kingdom,53.4769,-2.940560,20,http://en.wikipedia.org/wiki/Aintree_Motor_Rac...

In [7]:
# Check the data type of the "lat" column
print(circuits["lat"].dtype)

print(circuits["lat"].dtype == 'string')

float64
False

In [13]:
bins_lat = [-90, 0, 90]
labels_lat = ["south", "north"]

circuits["hemisphere"] = pd.cut(circuits["lat"],
                                bins = bins_lat,
                                right = True,
                                labels = labels_lat)
np.random.seed(151)
display(circuits.sample(5))

,circuitId,circuitRef,name,location,country,lat,lng,alt,url,hemisphere
50,51,charade,Charade Circuit,Clermont-Ferrand,France,45.7472,3.03889,790,http://en.wikipedia.org/wiki/Charade_Circuit,north
68,69,americas,Circuit of the Americas,Austin,USA,30.1328,-97.64110,161,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,north
36,37,detroit,Detroit Street Circuit,Detroit,USA,42.3298,-83.04010,177,http://en.wikipedia.org/wiki/Detroit_street_ci...,north
22,80,vegas,Las Vegas Strip Street Circuit,Las Vegas,United States,36.1147,-115.17300,\N,https://en.wikipedia.org/wiki/Las_Vegas_Grand_...,north
71,73,baku,Baku City Circuit,Baku,Azerbaijan,40.3725,49.85330,-7,http://en.wikipedia.org/wiki/Baku_City_Circuit,north